/* favorites */
.favorites-section {
  background-color: #f9f9f9;
  padding: 2.4rem 0 12rem 0;
}

.favorites-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.6rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 12rem;
  grid-gap: 1.6rem;
}

.catalog-header--favorites .catalog-header__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.catalog-header--favorites .catalog-header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  margin-bottom: 3.2rem;
}

.catalog-header--favorites .catalog-header__title {
  margin-bottom: 0;
}

.catalog-header--favorites .catalog-header__head .catalog-header__products-num {
  display: none;
}

.catalog-header--favorites .catalog-header__right {
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-header--favorites .catalog-header__right .catalog-header__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.catalog-header--favorites .catalog-header__radio {
  margin-bottom: 0.8rem;
}

.catalog-header--favorites .catalog-header__radio label {
  font-size: 14px;
  color: #000000;
  margin-left: 1rem;
}

.catalog-header--favorites .catalog-header__radio label:first-child {
  margin-left: 0;
}

.catalog-header--favorites .select__list {
  left: -83px;
}

.custom-radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-right: 0px;
  position: relative;
  vertical-align: top;
}

.custom-radio::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.real-radio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.real-radio:checked + .custom-radio {
  background-color: #000000;
}

.real-radio:checked + .custom-radio::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.real-radio:focus + .custom-radio {
  -webkit-box-shadow: 0px 0px 0px 1px #0d131a, 0px 0px 10px #7e9bbd;
  box-shadow: 0px 0px 0px 1px #0d131a, 0px 0px 10px #7e9bbd;
}

.catalog-header__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-header__select-title {
  font-size: 1.4rem;
  line-height: 1;
  color: #a2a2a2;
}

@media (min-width: 576px) {
  .catalog-header--favorites .catalog-header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .catalog-header--favorites .catalog-header__radio {
    margin-left: 0;
  }
}

@media (min-width: 680px) {
  .favorites-wrapper {
    -ms-grid-columns: 1fr 1.8rem 1fr 1.8rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.8rem;
  }
}

@media (min-width: 768px) {
  .catalog-header--favorites .catalog-header__title .catalog-title {
    margin-bottom: 0;
  }

  .catalog-header--favorites .catalog-header__head .catalog-header__products-num {
    margin-left: 2.4rem;
  }
}

@media (min-width: 1024px) {
  .favorites-wrapper {
    -ms-grid-columns: 1fr 2.4rem 1fr 2.4rem 1fr 2.4rem 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.4rem;
  }

  .catalog-header--favorites .catalog-header__wrap {
    margin-bottom: 2rem;
  }

  .catalog-header--favorites .catalog-header__head .catalog-header__products-num {
    display: block;
    font-size: 1.6rem;
    line-height: 1.3;
    color: #000000;
    opacity: 0.3;
    margin-left: 2.4rem;
  }

  .catalog-header--favorites .catalog-header__radio label {
    font-size: 16px;
    margin-left: 2.4rem;
  }

  .custom-radio {
    margin-right: 5px;
  }
}
